<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <title>Popular</title>
    </head>
    <body>
        <div id="nav">
            <a id="links" href="/">Recent</a> |
            <a id="links" href="/sortbyvotes/">Popular</a> |
            <a id="links" href="/boasts/">Boasts</a> |
            <a id="links" href="/roasts/">Roasts</a> |
            <a id="links" href="/create_post/">Post</a>
        </div>

        <h1 id="headline">{{ headline }} &#128123;</h1>

        {% for posts in sorted_votes %}
        <div id="card">
            {% if posts.choices %}
            <h2 id="boast-or-roast">Boast</h2>
            {%else%}
            <h2 id="boast-or-roast">Roast</h2>
            {% endif %}
            <h3 id="vote-count">
                {{ posts.totalvotes }} Votes
            </h3>
            <br />
            <br />
            <div id="post">{{ posts.user_post }}</div>
            <div id="bottom-elements">
                <div id="date">
                    {{ posts.timeposted }}
                </div>
                <div id="vote-buttons">
                    <button id="upvote">
                        <a id="icon" href="/upvotes/{{posts.id}}">&#11014;</a>
                    </button>
                    <button id="downvote">
                        <a id="icon" href="/downvotes/{{posts.id}}">&#11015;</a>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </body>
</html>
